

h1 {
  text-align: center;
  font-size: 45px;
  background-color: blue;
  color: white;
}

.grid-container {
  grid-template-columns: auto auto auto auto;
  grid-gap: 10px;
  background-color: #255c9e;
  padding: 50px;
  width: 100%;
}

.grid-container > div {
  background-color: rgba(255, 255, 255, 0.8);
  border: 2px solid #0e3b8c;
  text-align: center;
  font-size: 30px;
  padding: 20px;
}

.question {
  font-size: 30px;s
}

.answer {
  color: #ff5151;
  font-size: 20px;
}

@media only screen and (max-width: 600px) {
    .answer, .question {
        font-size: 17px;
        margin: 0%;
    }
